<!doctype html>
<% include ../head.html %>
</head>
<body>
<!-- 上方选择条 navbar-top-->
<% include ../navbar.html %>
<!-- 侧边框 -->
<% include slide_grades.html%>
<script type="text/javascript">
   function setNavActive(){
       var active=document.getElementById('grades');
           active.className='active';
    }

   function setSlideActive(){
        var slide = document.getElementById('classLists');
            slide.className='active';
   }

     setNavActive();
     setSlideActive();
</script>




<!-- 主要内容 -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="area-top clearfix">
        <div class="pull-left header">
          <h3 class="title"><i class="icon-search"></i>课程列表</h3>
        </div>
      </div>
    </div>
  </div>

<div class="span10">
<div class="box">
  <div class="box-header">
    <span class="title">成绩修改申请</span>
    <ul class="box-toolbar">
      <li><span class="label label-green">进行中</span></li>
    </ul>
  </div>
  <div class="box-content">
    <table class="table table-normal">
      <thead>
      <tr>
        <td>课程编号</td>
        <td>课程名称</td>
        <td>上课时间</td>
        <td>学期</td>
        <td>上课地点</td>
        <td>教学班人数</td>
        <td>教学班管理</td>
      </tr>
      </thead>

      <tbody>
      <tr class="status-pending">
        <td>212312321</a></td>
        <td>微积分I</td>
        <td>周三1、2节</td>
        <td>春夏</td>
        <td>曹楼201</td>
        <td>90</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
            <ul class="dropdown-menu">
              <li><a href="#">学生信息与成绩</a></li>
            </ul>
          </div>
        </td>
      </tr>
      <tr class="status-pending">
        <td>212312321</a></td>
        <td>微积分II</td>
        <td>周三3、4节</td>
        <td>春夏</td>
        <td>曹楼201</td>
        <td>90</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
            <ul class="dropdown-menu">
              <li><a href="#">学生信息与成绩</a></li>
            </ul>
          </div>
        </td>
      </tr>

        
      </tbody>
    </table>
  </div>
</div>



</div>



</div>
</body>
</html>
