<!doctype html>
<html>
<head>
  <% include head.html %>
  <style>
  .action-nav-button{
    width: 15%;
  }
  </style>
</head>
<body>
<!-- 上方选择条 navbar-top-->
<% include navbar.html %>
<!-- 侧边框 -->
<% include slide.html%>
<script type="text/javascript">
   function setActive(){
    var active=document.getElementById('resource_share');
    active.className='active';
  }
  setActive();
</script>
<!-- 主要内容 -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="area-top clearfix">
        <div class="pull-left header">
          <h3 class="title"><i class=" icon-briefcase"></i>资源管理系统</h3>
          <h5>管理所有课程的资源与作业</h5>
        </div>
      </div>
    </div>
  </div>

<div class="span10" style="margin-top:10px;">
  <div class="box">
      <div class="box-header">
        <div class="title">课程信息修改</div>
      </div>

      <div class="box-content padded" style="min-height:600px;">


        <form class="form-horizontal fill-up">


              <div class="control-group">
                <label class="control-label span2" style="margin-top:20px;">课程名称</label>
                <div class="span6" style="margin-top:20px;">
                  <select class="chzn-select"  name="colors">
                    <option value="计算机体系结构">计算机体系结构</option>
                    <option value="计算机网络基础">计算机网络基础</option>
                    <option value="软件工程">软件工程</option>
                  </select>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label span2" style="margin-top:20px;">课程名称</label>
                <div class="span6" style="margin-top:20px;">
                  <select class="chzn-select"  name="colors">
                    <option value="周一12">周一12</option>
                    <option value="周二12">周二12</option>
                    <option value="周三12">周三12</option>
                  </select>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label span2" style="margin-top:20px;">重要信息</label>
              <div class="span6">
                <textarea style="margin-top:20px;" placeholder="输入重要信息" rows="6"></textarea>
              </div>
              </div>

              <div class="control-group">
                <label class="control-label span2" style="margin-top:20px;">联系方式</label>
              <div class="span6">
                <textarea style="margin-top:20px;" placeholder="输入联系方式" rows="6"></textarea>
              </div>
              </div>

              <div class="control-group">
                <label class="control-label span2" style="margin-top:20px;">参考链接</label>
              <div class="span6">
                <textarea style="margin-top:20px;" placeholder="输入参考链接" rows="6"></textarea>
              </div>
              </div>
          </form>

          <div class="form-actions span8" style="margin-top:20px;">
            <button type="submit" class="btn btn-blue">保存信息</button>
          </div>
        </form>
      </div>
  </div>
</div>



</div>
</body>
</html>