<!doctype html>
<html>
<head>
  <% include head.html %>
</head>
<body>
	<div class="span12" style="margin-top:20px">
		<div class="box">
			  <div class="box-header">
		        <span class="title">课程列表</span>
		        <ul class="box-toolbar">
		          <li><span class="label label-red">未通过审核</span></li>
		        </ul>
		      </div>
		</div>
	</div>
</body>