<!doctype html>
<% include head.html %>
</head>
<body>
<!-- 上方选择条 navbar-top-->
<% include navbar.html %>
<!-- 侧边框 -->
<% include slide_grades.html%>
<script type="text/javascript">
   function setNavActive(){
       var active=document.getElementById('grades');
           active.className='active';
    }

   function setSlideActive(){
        var slide = document.getElementById('classManagement');
            slide.className='active';
   }

     setNavActive();
     setSlideActive();
</script>




<!-- 主要内容 -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="area-top clearfix">
        <div class="pull-left header">
          <h3 class="title"><i class="icon-search"></i>课程管理</h3>
        </div>
      </div>
    </div>
  </div>

<div class="span10">
<div class="box">
  <div class="box-header">
    <span class="title">微积分I, 2014-2015学年, 春夏学期</span>
    <ul class="box-toolbar">
      <li><span class="label label-green">进行中</span></li>
    </ul>
  </div>
  <div class="box-content">
    <table class="table table-normal">
      <thead>
      <tr>
        <td>学号</td>
        <td>姓名</td>
        <td>专业</td>
        <td>成绩</td>
        <td style="width: 40px"></td>
      </tr>
      </thead>

      <tbody>
      <tr class="status-pending">
        <td>3120102222</a></td>
        <td>张亮</td>
        <td>计算机科学与技术</td>
        <td></td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
            <ul class="dropdown-menu">
              <li><a href="#">录入成绩</a></li>
            </ul>
          </div>
        </td>
      </tr>

        <tr class="status-pending">
        <td>3120102322</a></td>
        <td>白客</td>
        <td>计算机科学与技术</td>
        <td></td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
            <ul class="dropdown-menu">
              <li><a href="#">录入成绩</a></li>
            </ul>
          </div>
        </td>
      </tr>

        <tr class="status-pending">
        <td>3120102111</a></td>
        <td>孔女神</td>
        <td>计算机科学与技术</td>
        <td></td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
            <ul class="dropdown-menu">
              <li><a href="#">录入成绩</a></li>
            </ul>
          </div>
        </td>
      </tr>

      <tr class="status-pending">
        <td>3120102111</a></td>
        <td>孔女神</td>
        <td>计算机科学与技术</td>
        <td></td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
            <ul class="dropdown-menu">
              <li><a href="#">录入成绩</a></li>
            </ul>
          </div>
        </td>
      </tr>

      <tr class="status-pending">
        <td>3120102111</a></td>
        <td>孔女神</td>
        <td>计算机科学与技术</td>
        <td></td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
            <ul class="dropdown-menu">
              <li><a href="#">录入成绩</a></li>
            </ul>
          </div>
        </td>
      </tr>

      <tr class="status-pending">
        <td>3120102111</a></td>
        <td>孔女神</td>
        <td>计算机科学与技术</td>
        <td></td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
            <ul class="dropdown-menu">
              <li><a href="#">录入成绩</a></li>
            </ul>
          </div>
        </td>
      </tr>

      <tr class="status-pending">
        <td>3120102111</a></td>
        <td>孔女神</td>
        <td>计算机科学与技术</td>
        <td></td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
            <ul class="dropdown-menu">
              <li><a href="#">录入成绩</a></li>
            </ul>
          </div>
        </td>
      </tr>

      <tr class="status-pending">
        <td>3120102111</a></td>
        <td>孔女神</td>
        <td>计算机科学与技术</td>
        <td></td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
            <ul class="dropdown-menu">
              <li><a href="#">录入成绩</a></li>
            </ul>
          </div>
        </td>
      </tr>

      <tr class="status-pending">
        <td>3120102111</a></td>
        <td>孔女神</td>
        <td>计算机科学与技术</td>
        <td></td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
            <ul class="dropdown-menu">
              <li><a href="#">录入成绩</a></li>
            </ul>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



</div>

<div class="span10">
<div class="box">
  <div class="box-header">
    <span class="title">微积分I, 2013-2014学年, 春夏学期</span>
    <ul class="box-toolbar">
      <li><span class="label label-red">已完结</span></li>
    </ul>
  </div>
  <div class="box-content">
    <table class="table table-normal">
      <thead>
      <tr>
        <td>学号</td>
        <td>姓名</td>
        <td>专业</td>
        <td>成绩</td>
        <td style="width: 40px"></td>
      </tr>
      </thead>

      <tbody>
      <tr class="status-pending">
        <td>3120102222</a></td>
        <td>张亮</td>
        <td>计算机科学与技术</td>
        <td>90</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
            <ul class="dropdown-menu">
              <li><a href="#">修改成绩</a></li>
            </ul>
          </div>
        </td>
      </tr>

        <tr class="status-pending">
        <td>3120102322</a></td>
        <td>白客</td>
        <td>计算机科学与技术</td>
        <td>95</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
            <ul class="dropdown-menu">
              <li><a href="#">修改成绩</a></li>
            </ul>
          </div>
        </td>
      </tr>

        <tr class="status-pending">
        <td>3120102111</a></td>
        <td>孔女神</td>
        <td>计算机科学与技术</td>
        <td>80</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
            <ul class="dropdown-menu">
              <li><a href="#">修改成绩</a></li>
            </ul>
          </div>
        </td>
      </tr>

      <tr class="status-pending">
        <td>3120102111</a></td>
        <td>孔女神</td>
        <td>计算机科学与技术</td>
        <td>75</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
            <ul class="dropdown-menu">
              <li><a href="#">修改成绩</a></li>
            </ul>
          </div>
        </td>
      </tr>

      <tr class="status-pending">
        <td>3120102111</a></td>
        <td>孔女神</td>
        <td>计算机科学与技术</td>
        <td>55</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
            <ul class="dropdown-menu">
              <li><a href="#">修改成绩</a></li>
            </ul>
          </div>
        </td>
      </tr>

      <tr class="status-pending">
        <td>3120102111</a></td>
        <td>孔女神</td>
        <td>计算机科学与技术</td>
        <td>90</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
            <ul class="dropdown-menu">
              <li><a href="#">修改成绩</a></li>
            </ul>
          </div>
        </td>
      </tr>

      <tr class="status-pending">
        <td>3120102111</a></td>
        <td>孔女神</td>
        <td>计算机科学与技术</td>
        <td>97</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
            <ul class="dropdown-menu">
              <li><a href="#">修改成绩</a></li>
            </ul>
          </div>
        </td>
      </tr>

      <tr class="status-pending">
        <td>3120102111</a></td>
        <td>孔女神</td>
        <td>计算机科学与技术</td>
        <td>95</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
            <ul class="dropdown-menu">
              <li><a href="#">修改成绩</a></li>
            </ul>
          </div>
        </td>
      </tr>

      <tr class="status-pending">
        <td>3120102111</a></td>
        <td>孔女神</td>
        <td>计算机科学与技术</td>
        <td>90</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
            <ul class="dropdown-menu">
              <li><a href="#">修改成绩</a></li>
            </ul>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>



</body>
</html>
