<!doctype html>
<html>
<head>
  <% include head.html %>
  <style>
      .action-nav-button{
        width: 15%;
      }

      .course-info{
          white-space: pre-wrap;
      }
  </style>
</head>
<body>
<!-- 上方选择条 navbar-top-->
<% include navbar.html %>
<!-- 侧边框 -->
<% include slide.html%>
<script type="text/javascript">
   function setActive(){
    var active=document.getElementById('resource_share');
    active.className='active';
  }
  setActive();
</script>
<!-- 主要内容 -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="area-top clearfix">
        <div class="pull-left header">
          <h3 class="title"><i class=" icon-briefcase"></i>资源管理系统</h3>
          <h5>管理所有课程的资源与作业</h5>
        </div>
      </div>
    </div>
  </div>

  <%include resource_bar.html%>

<div class="span10">
<ul class="chat-box timeline" style="max-width:90%">

  <li class="arrow-box-left gray">
    <div class="avatar"><img class="avatar-small" src="../../images/avatars/avatar2.jpg" /></div>
    <div class="info">
      <span class="name">
        <span class="label label-blue">TASK</span> <strong class="indent">老师</strong> 布置了新作业： <strong>需求报告</strong>
      </span>
      <span class="time"><i class="icon-time"></i> 6 minutes ago</span>
    </div>
  </li>

  <li class="arrow-box-left gray">
    <div class="avatar"><img class="avatar-small" src="../../images/avatars/avatar3.jpg" /></div>
    <div class="info">
      <span class="name">
        <span class="label label-purple">FILE</span> <strong class="indent">老师</strong> 上传了新的资源：<strong>SE_ppt_ch1.ppt</strong>
      </span>
      <span class="time"><i class="icon-time"></i> 12 minutes ago</span>
    </div>
  </li>
</ul>
</div>


<div class="span10">
  <div class="box" style="magin-left:100px;min-width:90%;">
      <div class="box-header">
        <div class="title">课程信息</div>

        <ul class="nav nav-tabs nav-tabs-right">
          <li class="active"><a href="#profile2" data-toggle="tab"><i class="icon-comments-alt"></i> <span>重要信息</span></a></li>
          <li><a href="#messages2" data-toggle="tab"><i class="icon-comments-alt"></i> <span>老师/助教联系方式</span></a></li>
          <li><a href="#settings2" data-toggle="tab"><i class="icon-cog"></i> <span>参考链接</span></a></li>
        </ul>

      </div>

      <div class="box-content padded">
        <div class="tab-content">
          <div class="tab-pane active course-info" id="profile2">
          50%大程+50%考试
          我试试看能不能换行
          搞毛</div>
          <div class="tab-pane course-info" id="messages2">zywang@cad.zju.edu.cn</div>
          <div class="tab-pane course-info" id="settings2">教材：《软件工程基础》</div>
        </div>
      </div>
  </div>
</div>



</div>
</body>
</html>