<!doctype html>
<html>
<head>
  <% include head.html %>
  <style>
  .action-nav-button{
    width: 15%;
  }
  </style>
</head>
<body>
<!-- 上方选择条 navbar-top-->
<% include navbar.html %>
<!-- 侧边框 -->
<% include slide.html%>
<script type="text/javascript">
   function setActive(){
    var active=document.getElementById('resource_share');
    active.className='active';
  }
  setActive();
</script>
<!-- 主要内容 -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="area-top clearfix">
        <div class="pull-left header">
          <h3 class="title"><i class=" icon-briefcase"></i>资源管理系统</h3>
          <h5>管理所有课程的资源与作业</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="span10" style="margin-left:50px;margin-top:10px;">
    <div class="row">
      <!-- Breadcrumb line -->
      <div id="breadcrumbs">
        <div class="breadcrumb-button blue">
          <span class="breadcrumb-label"><i class="icon-home"></i>我的教务网</span>
          <span class="breadcrumb-arrow"><span></span></span>
        </div>

        
            <div class="breadcrumb-button">
              <span class="breadcrumb-label">
                <i class="icon-beaker"></i>资源共享
              </span>
              <span class="breadcrumb-arrow"><span></span></span>
            </div>
        

        <div class="breadcrumb-button">
          <span class="breadcrumb-label">
            <i class="icon-th-large"></i>软件工程
          </span>
          <span class="breadcrumb-arrow"><span></span></span>
        </div>
      </div>
    </div>
  </div>

  <!--big normal buttons-->

<div class="span10" style="margin-left:50px;">
<div class="row">
    <div class="action-nav-normal action-nav-line">
      <div class="row action-nav-row" style="margin-top:20px;">
        <div class="action-nav-button">
          <a href="#" title="New Project">
            <i class="icon-info-sign"></i>
            <span>课程信息</span>
          </a>
        </div>

        <div class="col-sm-2 action-nav-button">
          <a href="#" title="Messages">
            <i class="icon-folder-open-alt"></i>
            <span>课程资源</span>
          </a>
          <span class="label label-red">14</span>
        </div>

        <div class="col-sm-2 action-nav-button">
          <a href="#" title="Files">
            <i class="icon-file-alt"></i>
            <span>作业提交</span>
          </a>
          <span class="label label-red">3</span>
        </div>

        <div class="col-sm-2 action-nav-button">
          <a href="#" title="Users">
            <i class="icon-user"></i>
            <span>我的资源管理</span>
            <span class="triangle-button red"><i class="icon-plus"></i></span>
          </a>
        </div>

        <div class="col-sm-2 action-nav-button">
          <a href="#" title="Followers">
            <i class="icon-twitter"></i>
            <span>课程反馈</span>
          </a>
        </div>
      </div>
    </div>
</div><!-- row -->
<hr class="divider"/>
</div><!-- span10 -->



<div class="span10">
    <div class="box">
      <div class="box-header">
        <span class="title">课程资源</span>
        <ul class="box-toolbar">
          <li><span class="label label-blue">length</span></li>
        </ul>
      </div>
    <div class="box-content" >
    <table class="table table-normal">
      <thead>
      <tr>
        <td></td>
        <td style="width: 150px">名称</td>
        <td style="width: 60px">截止时间</td>
        <td>作业描述</td>
        <td style="width: 40px"></td>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td class="icon"><i class="icon-file"></i></td>
        <td><a href="#">软件工程ch1作业</a></td>
        <td><b>2016.1.1</b></td>
        <td><b>简答题</b></td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default"><i class="icon-info-sign"></i></button>
            <button class="btn btn-xs btn-default"><i class="icon-upload-alt"></i></button>
          </div>
        </td>
      </tr>

      <tr>
        <td class="icon"><i class="icon-file"></i></td>
        <td><a href="#">软件工程ch2作业</a></td>
        <td><b>2016.1.1</b></td>
        <td><b>简答题</b></td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default"><i class="icon-info-sign"></i></button>
            <button class="btn btn-xs btn-default"><i class="icon-download-alt"></i></button>
          </div>
        </td>
      </tr>
            <tr>
        <td class="icon"><i class="icon-file"></i></td>
        <td><a href="#">软件工程ch3作业</a></td>
        <td><b>2016.1.1</b></td>
        <td><b>简答题</b></td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default"><i class="icon-info-sign"></i></button>
            <button class="btn btn-xs btn-default"><i class="icon-download-alt"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
    </div>
  </div>
</div>



</div>
</body>
</html>