<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>添加题目到题库</h1>
    <form method='post'>
    	<p><input type='text', name='stem', placeholder='Stem'/></p>
    	<p><input type='text', name='answer', placeholder='Answer'/></p>
    	<p><input type='submit', value='Submit'/></p>
    </form>
  </body>
</html>
