<!doctype html>
<% include ../head.html %>
</head>
<body>
<!-- 上方选择条 navbar-top-->
<% include ../navbar.html %>
<!-- 侧边框 -->
<% include arrange_sidebar.html%>
<script type="text/javascript">
   function setNavActive(){
       var active=document.getElementById('arrange');
           active.className='active';
    }

   function setSlideActive(){
        var slide = document.getElementById('arrange_course_management');
            slide.className='active';
   }

     setNavActive();
     setSlideActive();
</script>

<!-- 主要内容 -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="area-top clearfix">
        <div class="pull-left header">
          <h3 class="title"><i class="icon-edit"></i>课程申请管理</h3>
        </div>
      </div>
    </div>
  </div>

<div class="span10">
<div class="box">
  <div class="box-header">
    <span class="title">课程申请</span>
    <ul class="box-toolbar">
      <li><span class="label label-gold">待处理</span></li>
    </ul>
  </div>
  <div class="box-content">
    <table class="table table-normal">
      <thead>
        <tr>
          <td>课程号</td>
          <td>课程名</td>
          <td>上课时间</td>
          <td>学期</td>
          <td>上课地点</td>
          <td>教学班人数</td>
          <td>申请内容</td>
          <td>操作</td>
        </tr>
      </thead>

      <tbody>
        <tr class="status-pending">
          <td>MC001</a></td>
          <td>微积分1</td>
          <td>周一1、2节</td>
          <td>春夏</td>
          <td>曹楼201</td>
          <td>90</td>
          <td>上课时间 改为 周二1、2节</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
              <ul class="dropdown-menu">
                <li><a href="#"><span class="label label-green">通过</span></a></li>
                <li><a href="#"><span class="label label-red">拒绝</span></a></li>
              </ul>
            </div>
          </td>
        </tr>
  
        <tr class="status-pending">
          <td>MC002</a></td>
          <td>微积分2</td>
          <td>周一3、4节</td>
          <td>春夏</td>
          <td>曹楼201</td>
          <td>90</td>
          <td>上课时间 改为 周二3、4节</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
              <ul class="dropdown-menu">
                <li><a href="#"><span class="label label-green">通过</span></a></li>
                <li><a href="#"><span class="label label-red">拒绝</span></a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>

<div class="span10">
<div class="box">
  <div class="box-header">
    <span class="title">课程申请</span>
    <ul class="box-toolbar">
      <li><span class="label label-green">已通过</span></li>
    </ul>
  </div>
  <div class="box-content">
    <table class="table table-normal">
      <thead>
        <tr>
          <td>课程号</td>
          <td>课程名</td>
          <td>上课时间</td>
          <td>学期</td>
          <td>上课地点</td>
          <td>教学班人数</td>
          <td>申请内容</td>
          <td>操作</td>
        </tr>
      </thead>

      <tbody>
        <tr class="status-pending">
          <td>MC003</a></td>
          <td>微积分3</td>
          <td>周二1、2节</td>
          <td>春夏</td>
          <td>曹楼201</td>
          <td>90</td>
          <td>上课时间 改为 周三1、2节</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
              <ul class="dropdown-menu">
                <li><a href="#">删除</a></li>
              </ul>
            </div>
          </td>
        </tr>
  
        <tr class="status-pending">
          <td>MC004</a></td>
          <td>微积分4</td>
          <td>周二3、4节</td>
          <td>春夏</td>
          <td>曹楼201</td>
          <td>90</td>
          <td>上课时间 改为 周三3、4节</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
              <ul class="dropdown-menu">
                <li><a href="#">删除</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>

<div class="span10">
<div class="box">
  <div class="box-header">
    <span class="title">课程申请</span>
    <ul class="box-toolbar">
      <li><span class="label label-red">已拒绝</span></li>
    </ul>
  </div>
  <div class="box-content">
    <table class="table table-normal">
      <thead>
        <tr>
          <td>课程号</td>
          <td>课程名</td>
          <td>上课时间</td>
          <td>学期</td>
          <td>上课地点</td>
          <td>教学班人数</td>
          <td>申请内容</td>
          <td>操作</td>
        </tr>
      </thead>

      <tbody>
        <tr class="status-pending">
          <td>MC005</a></td>
          <td>微积分5</td>
          <td>周三1、2节</td>
          <td>春夏</td>
          <td>曹楼201</td>
          <td>90</td>
          <td>上课时间 改为 周四1、2节</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
              <ul class="dropdown-menu">
                <li><a href="#">删除</a></li>
              </ul>
            </div>
          </td>
        </tr>
  
        <tr class="status-pending">
          <td>MC006</a></td>
          <td>微积分6</td>
          <td>周三3、4节</td>
          <td>春夏</td>
          <td>曹楼201</td>
          <td>90</td>
          <td>上课时间 改为 周三3、4节</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
              <ul class="dropdown-menu">
                <li><a href="#">删除</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>

</div>

</body>
</html>
