<!DOCTYPE html>
<html>
  <head>
    <% include ../head.html %>
  </head>
  <body>
  <!-- 上方选择条 navbar-top-->
  <% include ../navbar.html %>
  <!-- 侧边框 -->
  <% include slide_teacher.html%>
  <!-- 主要内容 -->
<!--    <h1>教师登录界面</h1>
    <li>
    <a href='/OnlineTest/probManage'>管理题目</a>
    </li>
    <li>
  <a href='/OnlineTest/paperManage'>管理试卷</a>
  </li>
  <li>
    <a>统计资料（未实现）</a>
  </li>
-->
    <div class="main-content">
      <div class="span12">
        <div class="box">
          <div class="box-header">
            <div class="title">
              请选择接下来要进行操作的课程
            </div>
          </div>
          <div class="box-content padded">
            <ul>
              <% for(var i = 0; i < courses.length; i++){ %>
              <li>
              <pre><%= courses[i].coursename %>&#9;<a class="btn btn-default", href="/OnlineTest/teacher/chooseCourse=<%= courses[i]._id %>">选定</a></pre>
              </li>
              <% } %>
            </ul>
          </div>
        </div>

        <div class="box">
          <div class="box=header">
            <div class="title">
              现在选定
            </div>
          </div>
          <div class="box-content padded">
          <%= chosenCourse %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>