<!DOCTYPE html>
<html>
  <head>
    <title>Online test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>教师登录界面</h1>
    <li>
    <a href='/OnlineTest/probManage'>管理题目</a>
    </li>
    <li>
    <a href='/OnlineTest/paperManage'>管理试卷</a>
    </li>
    <li>
    <a>统计资料（未实现）</a>
    </li>

  </body>
</html>