  <!--big normal buttons-->

<div class="span10" style="margin-left:50px;">
<div class="row">
    <div class="action-nav-normal action-nav-line">
      <div class="row action-nav-row" style="margin-top:20px;">
        <div class="action-nav-button">
          <a href="/resource/info" title="New Project">
            <i class="icon-info-sign"></i>
            <span>课程信息</span>
          </a>
        </div>

        <div class="col-sm-2 action-nav-button">
          <a href="/resource/resource" title="Messages">
            <i class="icon-folder-open-alt"></i>
            <span>课程资源</span>
          </a>
          <span class="label label-red">14</span>
        </div>

        <div class="col-sm-2 action-nav-button">
          <a href="/resource/hwtest" title="Files">
            <i class="icon-file-alt"></i>
            <span>作业提交</span>
          </a>
          <span class="label label-red">3</span>
        </div>

        <div class="col-sm-2 action-nav-button">
          <a href="/resource/feedback" title="Followers">
            <i class="icon-twitter"></i>
            <span>课程反馈</span>
          </a>
        </div>

          <div class="col-sm-2 action-nav-button">
              <a data-toggle="modal" href="#modal-share">
                  <i class="icon-plus"></i>
                  <span>分享资源</span>
              </a>
          </div>

      </div>
    </div>
</div><!-- row -->
<hr class="divider"/>
</div><!-- span10 -->