<div class="sidebar-background">
  <div class="primary-sidebar-background"></div>
</div>
<div class="primary-sidebar">
  <!--侧边选择框 -->
  <ul class="nav nav-collapse collapse nav-collapse-primary">    

    <!--
    <li id="resource_search">
      <span class="glow"></span>
      <a href="/resource/search">
        <i class="icon-search icon-2x"></i>
        <span style="font-size:15px">资源搜索</span>
      </a>
    </li>
  -->
     
  </ul>

  <a href="/" style="position:absolute;width:115px;margin-left:35px;background-color:#4169E1;border-bottom:5px solid #27408B;border-radius:3px;height:30px;padding:10px;">
    <i class="icon-file icon-2x" style="color:#EBEBEB;"></i>
    <span id="cloud-course" style="font-size:15px;color:#EBEBEB">回到课程资源</span>
  </a>

  <a href="/resource/search" style="position:absolute;top:100px;width:115px;text-align:center;margin-left:35px;background-color:#4169E1;border-bottom:5px solid #27408B;border-radius:3px;height:30px;padding:10px;">
    <i class="icon-search icon-2x" style="color:#EBEBEB;"></i>
    <span id="cloud-course" style="font-size:15px;color:#EBEBEB">搜索</span>
  </a>
    
    
</div>
